{% include 'header.html' %}
Changelog
{% for version in versions %}
<p>
{{version.app}} v<b>{{version.version}}</b> ({{version.date}})
<ul>
{% for change in version.changes %}
<li>
  {{change}}
</li>
{% endfor %}
</ul>
{% endfor %}
{% include 'footer.html' %}
